<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Andrew Ritchie<br />
                Designer, Developer, Artist<br />
                hello *at* andrewritchie *dot* info
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://twitter.com/whackandrew">@whackandrew</a><br />
                <a href="https://github.com/ritchiea">ritchiea on Github</a><br />
                <a href="https://instagram.com/whackandrew">whackandrew
                  on Instagram</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
